.menu {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: space-around;
    background-color: rgba(12, 1, 1, 0.842);
  }
  
  h1 {
    text-align: center;
    color: rgba(14, 0, 0, 0.922);
  }
  
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
    background-color: rgb(22, 60, 213);
  }
  
  li {
      display: inline-block;
    }
    a {
      text-decoration: none;
      color: white; 
      padding: 10px;
    display: block;
  }